.card-body {
    display: flex;
    flex-direction: column;
    margin-top: 5px;


}

.card-header{
    display: flex;
    flex-direction: row;
}
.card-header-title{
    margin-left: 1em;
}
.card-toolbar{
    width: 100%;;
    flex-direction: row;
    float: left;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border: none;
}
